# MATH 189 - Project

> NAME: $\color{red}{\text{    Anh Tran     }}$
> 
> EMAIL: $\color{red}{\text{    ant033@ucsd.edu     }}$
> 
> PID: $\color{red}{\text{    A17634100     }}$

> NAME: $\color{red}{\text{    Sang Tran     }}$
> 
> EMAIL: $\color{red}{\text{    stt008@ucsd.edu     }}$
> 
> PID: $\color{red}{\text{    A17603500     }}$

# Research Question

Is there a correlation between a specific group of population that is most affected by thyroid disease and what is the most effective treatment based on the thyroid disease dataset?

## Background and Prior Work

According to the Cleveland Clinic, thyroid gland is a part of endocrine system and located around the base of the Larynx (voice box), surrounding the trachea (windpipe) and is responsible for creating necessary hormones to regulate the body functions like metabolism through chemical reaction and control hormones by releasing the hormones into the bloodstream. In fact, all cells require energy from metabolized food in order to function so thyroid plays an important role in maintaining that our body is working properly. It is a fairly common disease as stated by Cleveland Clinic, diseases that degrade or over activate the thyroid function can have a major impact on our body functionality such as fatigue, weight loss/gain, depression, heavy or irregular menstrual periods, mood swing, etc… However, the diseases are not debilitating and are all treatable through the use of medication, therapy, or surgery.

References:

professional, C. C. medical. (n.d.). Thyroid disease. Cleveland Clinic.https://my.clevelandclinic.org/health/diseases/8541-thyroid-disease#overview

# Hypothesis

* Identification of high risk factors for disease: Through the analyses mentioned above, we aim to identify demographic and clinical factors associated with an increased risk of thyroid disease. This can help healthcare professionals better understand the populations most vulnerable to thyroid dysfunction.
* 
Prediction of thyroid disease: By training machine learning models on the dataset, we expect to develop predictive models that can accurately classify individuals as either having thyroid disease or being healthy based on their demographic and clinical characteristics.

# Data Source

This dataset from [kaggle](https://www.kaggle.com/datasets/emmanuelfwerr/thyroid-disease-data) was created by Kaggle user Emmanuel F. Werr and made to be more readable from the original data located at [Thyroid Disease Dataset](https://archive.ics.uci.edu/ml/datasets/thyroid+disease) - UCI Machine Learning Repository.

&emsp; Analyzing the dataset can provide us insights into risk factors, and clinical manifestations of thyroid disease. This information is crucial for healthcare professionals to better understand the disease and its impact on affected individuals. 

&emsp; 
Moreover, we can potentially identify high-risk groups and the conclusions from this project can inform targeted screening and prevention strategies and help optimize diagnosis and treatment plans.

&emsp; 
Lastly, analysis of this dataset can generate hypotheses for further research into the underlying mechanisms of thyroid disease and potential therapeutic targets. By contributing to the scientific understanding of the disease, the expected outcomes can drive innovation in diagnosis, treatment, and prevention strategies.

# Propose objective

* Data Cleaning
* EDA
* Feature Selection
* Modeling
* Interpretation

We are planning to do data cleaning to take out unneeded variables, missing values, one-hot encoding, and combine data in order tidying the data. In addition, we are planning to do exploratory data analysis to see how the variables might be related to each other and to the thyroid relationship. Visualization of these features is key and we are planning to use graphs such as scatter plots, ECDF, QQ-plot, correlation matrices, etc to gain a better understanding of these features. After that, we are planning to experiment with different models such as linear regression, PCA, etc... Lastly, we will interpret the results.

# Dataset description


| Features     | Sample Count |
|---------------|--------------|
|  31          |     9172     |

| Attribute            | Description                                          | Data Type |
|----------------------|------------------------------------------------------|-----------|
| age                  | age of the patient                                   | (int)     |
| sex                  | sex patient identifies | (str)     |
| on_thyroxine         | whether patient is on thyroxine                      | (bool)    |
| query_on_thyroxine   | whether patient is on thyroxine meds          | (bool)    |
| on_antithyroid_meds  | whether patient is on antithyroid meds                              | (bool)    |
| sick                 | whether patient is sick                          | (bool)    |
| pregnant             | whether patient is pregnant       | (bool)    |
| thyroid_surgery      | whether patient has undergone thyroid surgery        | (bool)    |
| I131_treatment       | whether patient is undergoing I131 treatment   | (bool)    |
| query_hypothyroid    | whether the patient believes they have hypothyroid | (bool)    |
| query_hyperthyroid   | whether the patient believes they have hyperthyroid                   | (bool)    |
| lithium              | whether patient is taking lithium                            | (bool)    |
| goitre               | whether patient has goitre                          | (bool)    |
| tumor                | whether patient has tumor                    | (bool)    |
| hypopituitary        | whether patient has hypopituitarism                            | (bool)    |
| psych                | whether patient has a psychological disorder                 | (bool)    |
| TSH_measured         | whether TSH was measured in the blood                    | (bool)   |
| TSH                  | TSH level in blood from lab work                 | (float)    |
| T3_measured          | whether T3 was measured in the blood                      | (bool)   |
| T3                   | T3 level in blood from lab work               | (float)    |
| TT4_measured         | whether TT4 was measured in the blood                     | (bool)   |
| TT4                  | TT4 level in blood from lab work              | (float)    |
| T4U_measured         | whether T4U was measured in the blood                      | (bool)   |
| T4U                  | T4U level in blood from lab work               | (float)    |
| FTI_measured         | whether FTI was measured in the blood                     | (bool)   |
| FTI                  | FTI level in blood from lab work              | (float)    |
| TBG_measured         | whether TBG was measured in the blood                    | (bool)   |
| TBG                  |  TBG level in blood from lab work               | (float)     |
| referral_source      | Referral source                   | (str)     |
| target               | Hyperthyroidism medical diagnosis                            | (str)     |
| patient_id           |   Unique ID of the patient                                                   | (str)     |

The target classification contains health conditions and diagnosis classes.

In [21]:
df['target'].value_counts()

target
-      6771
K       436
G       359
I       346
F       233
R       196
A       147
L       115
M       111
N       110
S        85
GK       49
AK       46
J        30
B        21
MK       16
Q        14
O        14
C|I      12
KJ       11
GI       10
H|K       8
D         8
FK        6
C         6
P         5
MI        2
LJ        1
GKJ       1
OI        1
D|R       1
E         1
Name: count, dtype: int64

<br>

| Condition                           | Diagnosis class              | Count |
|-------------------------------------|------------------------------|-------|
| hyperthyroid                        | hyperthyroid (A)            | 147   |
|                          | T3 toxic (B)                | 21    |
|      | toxic goiter (C)            | 6     |
|                 | secondary toxic (D)         | 8     |
|  hypothyroid          | hypothyroid (E)             | 1     |
|     | primary hypothyroid (F)     | 233   |
|                                     | compensated hypothyroid (G) | 359   |
|                                     | secondary hypothyroid (H)   | 8     |
|                binding protein                     | increased binding protein (I)| 346   |
|                                     | decreased binding protein (J)| 30    |
|             general health                       | concurrent non-thyroidal illness (K) | 436 |
|            replacement therapy                     | underreplaced (M)           | 111   |
|                                     | consistent with replacement therapy (L) | 115 |
|                                     | overreplaced (N)            | 110   |
|         antithyroid treatment                          | antithyroid drugs (O)       | 14    |
|                                     | I131 treatment (P)          | 5     |
|                                     | surgery (Q)                 | 14    |
|             miscellaneous                     | discordant assay results (R)| 196   |
|                                     | elevated TBG (S)            | 85    |
|                                     | elevated thyroid hormones (T)| 0     |
|            no condition                       | (-)                         | 6771  |

## Data Cleaning

In [23]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
path = '../Math189/data/thyroidDF.csv'
df = pd.read_csv(path)
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [27]:
df.shape

(9172, 31)

In [4]:
df.dtypes

age                      int64
sex                     object
on_thyroxine            object
query_on_thyroxine      object
on_antithyroid_meds     object
sick                    object
pregnant                object
thyroid_surgery         object
I131_treatment          object
query_hypothyroid       object
query_hyperthyroid      object
lithium                 object
goitre                  object
tumor                   object
hypopituitary           object
psych                   object
TSH_measured            object
TSH                    float64
T3_measured             object
T3                     float64
TT4_measured            object
TT4                    float64
T4U_measured            object
T4U                    float64
FTI_measured            object
FTI                    float64
TBG_measured            object
TBG                    float64
referral_source         object
target                  object
patient_id               int64
dtype: object

In [7]:
df.replace({'t': 1, 'f': 0}, inplace=True)
df.shape

(9172, 31)

# Ethics & Privacy

&emsp;...

# Team Expectations

* *Show up to scheduled team meetings.*
* *Communicate through group chat if we can't finish something in time, miss a meeting, need help, etc.*
* *Be understanding and respectful of one another.*